<div class="card">
    <h2 class="card-header">Add new post</h2>

    <form class="card-body" id="newpost-forn"></form>

    <div class="m-6">
        <label class="form-label">Title</label>
        <input type="text" class="form-input" name="post-title">
    </div>
    
    <div class="m-6">
        <label class="form-label">Content</label>
    <textarea class="form-textarea form-input" name="post-content"></textarea>
    </div>

    <div class="m-6">
        <button type="submit" class="btn btn-primary">Create</button>    
    </div>

    </form>
</div>
<script src="/js/newPost.js"></script>